<div>
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="emailSent">
      <h1>Success</h1>
      <p>
        Your email was succesffuly sent. Please refresh the page to send another
      </p>
    </div>

    <div *ngIf="isErr">
      <h1>Failure</h1>
      <p>Something went wrong... Welp that sucks</p>
    </div>

    <div *ngIf="showEmailForm" class="container">
      <h1 class="title">Send an email!</h1>

      <form [formGroup]="emailConstructor" (ngSubmit)="onSubmit()" class="form">
        <div>
          <mat-form-field
            hintLabel="Can add multiple recipients separated by commas"
            class="form-element">
            <mat-label>Send to:</mat-label>
            <input
              matInput
              type="email"
              placeholder="yourname@example.com"
              required
              formControlName="recipient" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-element">
            <mat-label>Email Subject</mat-label>
            <input
              matInput
              type="text"
              placeholder="Hi Hey There Hello"
              required
              formControlName="subject" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-element">
            <mat-label>Email text:</mat-label>
            <input
              matInput
              type="text"
              placeholder="I just want you to know that I love you"
              required
              formControlName="body" />
          </mat-form-field>
        </div>

        <div class="file-upload">
          <app-single-file-upload
            (notify)="getFile($event)"></app-single-file-upload>
        </div>

        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="button"
            [disabled]="!emailConstructor.valid">
            Submit Form
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
